.slide-container {
    position: relative;
}


.slide-animation.ng-enter,
.slide-animation.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
}

.slide-animation.ng-enter {
    z-index: 100;
    top: 600px;
    opacity: 0;
}

.slide-animation.ng-enter.ng-enter-active {
    top: 0;
    opacity: 1;
}

.slide-animation.ng-leave {
    z-index: 101;
    top: 0;
    opacity: 1;
}

.slide-animation.ng-leave.ng-leave-active {
    top: -20px;
    opacity: 0;
}
.sidenav::-webkit-scrollbar {
    display: none;
}
.btn-logout{
    background-color: rgb(232, 98, 98);
    border: none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}